# Network: hardhat | localhost | arcTestnet | sepolia
#VITE_NETWORK=hardhat

# Set true only for UI demos without on-chain loans
#VITE_USE_DEMO_LOANS=false

# Flask karma API
# VITE_API_URL=http://localhost:5000

# Arc RPC (optional override for read-only)
# VITE_ARC_RPC_URL=https://rpc.testnet.arc.network

CIRCLE_API_KEY= TEST_API_KEY:960850c3fd0c84354e1575b908f6e9c6:59c542c0ca77d4e6db38fc5e103c1258

VITE_NETWORK=arcTestnet
VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
VITE_API_URL=http://localhost:5000